@font-face {
    font-family: 'CommitMono-400-Regular';
    src: url('/Applications/XAMPP/xamppfiles/htdocs/html-energy/CommitMono-400-Regular.woff2') format('woff2');
    src: url('/Applications/XAMPP/xamppfiles/htdocs/html-energy/CommitMono-400-Regular.woff') format('woff');
  }

@font-face {
    font-family: 'HanaMeatball-Regular';
    src: url('/Applications/XAMPP/xamppfiles/htdocs/html-energy/HanaMeatball-Regular.woff2') format('woff2');
  }  

body  {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; /* Full viewport height */
    margin-left: 7px;
    width: 96vw;
    position: fixed;
}

p {
    font-family: 'HanaMeatball-Regular', sans-serif;
}

.start {
    display: flex; /* Shrink to fit content */
    flex-direction: column;
    justify-content: flex-end;
    height: 95vh;
}

h1 {
    font-family: 'CommitMono-400-Regular', monospace;
    font-size: 8rem;
    text-align: left;
    margin-bottom: -10px;
    margin-top: 0px;
}

h2 {
    font-family: 'CommitMono-400-Regular', monospace;
    font-size: 2rem; 
    margin-bottom: 0px;
}

p.desc {
    font-family: 'HanaMeatball-Regular', sans-serif;
    text-align: left;
width: 95ch;
margin-left: 7px;

}

p.text {
    font-family: 'HanaMeatball-Regular', sans-serif;
    text-align: left;
align-self: flex-end;
}

p.menu {
    font-family: 'HanaMeatball-Regular', sans-serif;
    text-align: left;
    margin-top: -10px;
background-color: greenyellow;
display: inline-block;
}

a {
    background-color: greenyellow;
}

div.hid {
    display: none;
}

a:hover + div.hid {
    display: block;
}


div.list {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 30px;
margin-top: 30px;
}

div.cell {
    width: 30%;
}
